.book {
  position: relative;
  width: calc(14% - 1px);
  height: auto;
  overflow: hidden;
  justify-content: center;
  margin: 30px 15px 15px 15px;
  background-color: white;
  border-radius: 1rem;
  filter:opacity(0.8);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.book:hover {
  filter: opacity(1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.book img {
  position: relative;
  width: 100%;
}

.book .image {
  height: 8rem;
  min-width: 100%;
  overflow: hidden;
}

.book .text {
  height: 10rem;
  color: black;
}

.book h1, .book p {
  margin: 1rem 2rem;
  font-size: 12px;
  font-weight: bold;
  z-index: 1000;
  color: grey;
  text-decoration: none;
}

.book strong {
  color: black;
}

.book a {
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  bottom: 0;
  padding: 0.7rem 0;
  font-size: 12px;
  font-weight: bold;
  z-index: 1000;
  color: white;
  text-decoration: none;
  background-color: #c1c9ff;
}

.book a:hover {
  background-color: #a2adf7;
}

.book select {
  position: absolute;
  top: 0;
  border: none;
  padding: 0.5rem;
  width: 100%;
  z-index: 2000;
}

.book option {
  border: none;
  padding: 0.5rem;
  width: 100%;
}

.book select:focus, .book option:focus {
  outline: none;
}


@media only screen and (max-width: 1200px) and (min-width: 750px)  {
  .book {
    width: 20%;
  }
}

@media only screen and (max-width: 750px) {
  .book {
    width: 30%;
  }
}

@media only screen and (max-width: 450px) {
  .book {
    width: 80%;
  }
}
