.book {
  position: relative;
  width: calc(10% - 1px);
  height: auto;
  overflow: hidden;
  justify-content: center;
  margin-right: 30px;
  margin-top: 30px;
  background-color: #6d6d6d;
  border-radius: 1rem;
  filter: grayscale(1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s linear;
}

.book:hover {
  filter: grayscale(0);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.book img {
  position: relative;
  width: 100%;

}
.book .image {
  height: 8rem;
  overflow: hidden;
}

.book .text {
  height: 10rem;
  color: white;
}

.book h1, .book h2 {
  margin: 2rem;
  font-size: 15px;
  z-index: 1000;

}

.book h1 {

}

.book h2 {

}
