.book {
  position: relative;
  width: calc(20% - 1px);
  height: auto;
  overflow: hidden;
  justify-content: center;
  margin-right: 1px;
  margin-top: 1px;
  background-color: #b5b5b5;
  opacity: 0.5;
}

.book:hover {
  opacity: 1;
}

.book img {
  position: relative;
  width: 100%;

}
.book .image {
  height: 10rem;
  overflow: hidden;
}

.book .text {
  height: 10rem;
  color: white;
}

.book h1, .book h2 {
  margin: 2rem;
  font-size: 15px;
  z-index: 1000;

}

.book h1 {

}

.book h2 {

}
